<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.Properties.Settings.sqlConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\COCO\Work\MyTestSQL.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>